@media (max-width: 992px) {
    /* width and height img1*/
    .img-responsive{
        height: 800px !important;
        width: 200px;
    }
    /* nav movil */
    .nav-movil {
        height: 1000px;
        right: 0 !important;
        top: 0 !important;
        position: absolute;
        background-color: #fff !important;
        width: 100% !important;
        z-index: 2;
        
    }
    .ul-movil{
        margin-top: 50px !important;
        height: 100% !important;
        width: 500px!important;
    }
    .nav-item{
        margin-top: 10px !important;
    }
    /* end nav movil */
}