*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}
/* letter */
body {
    font-family: 'Arial', sans-serif; /* Cambiar 'Arial' por la fuente que prefieras */
}

/* Cambiar la tipografía solo para los títulos (h1, h2, h3, etc.) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif; /* Cambiar 'Roboto' por la fuente que prefieras */
}



